<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=0, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/app.css?=<%= version %>">
  <% for(i = 0; i < css.length; i++) { %>
    <link rel="stylesheet" href="<%= css[i] %>">
  <% } %>
  <title>레이니헤븐 웹 표준 프로젝트</title>
</head>
<body>
  <div id="app">