.nanumgothic {
  font-family: 'Nanum Gothic', sans-serif;
}

.hanna {
 font-family: 'Hanna', fantasy;
}

.jejugothic { /** 폰트 영문 이름 지정 **/
 font-family: 'Jeju Gothic', sans-serif;
}

.nanumpenscript {
 font-family: 'Nanum Pen Script', cursive;
}

.nanumbrushscript {
 font-family: 'Nanum Brush Script', cursive;
}

.nanummyeongjo {
  font-family: 'Nanum Myeongjo', cursive;
}
